* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

/* Make all images responsive globally */
img {
  max-width: 100%;
  height: auto;
}
