---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="404: Not Found | Angus Lam - anguslam.com">
  <h1>404: Not Found</h1>
  <p>You just hit a route that doesn't exist... the sadness.</p>
  <p><a href="/">Go back home</a></p>
</PageLayout>
