---
import Footer from "../components/Footer";
import "../styles/index.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Angus Lam - anguslam.com",
  description = "Angus is a software engineer with experience working at technology startups like Stripe, Lugg, Optimizely, and more. This is his personal website where he shares his work, knowledge, experiences, and other topics he finds interesting.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:site" content="@angushtlam" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <main class="main-content">
      <slot />
    </main>
    <div class="footer-container">
      <hr />
      <Footer client:load />
    </div>
  </body>
</html>

<style>
  body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main-content {
    flex: 1;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-grow: 0;
    flex-shrink: 0;
  }
</style>
