---
import Footer from '../components/Footer';
import '../styles/index.css';
import '../styles/crt.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Angus Lam - anguslam.com",
  description = "Angus is a software engineer with experience working at technology startups like Stripe, Lugg, Optimizely, and more. This is his personal website where he shares his work, knowledge, experiences, and other topics he finds interesting."
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:site" content="@angushtlam" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <div class="crt outer-container">
      <div class="monitor-container">
        <div class="bezel bezel-top"></div>
        <div class="bezel bezel-bottom"></div>
        <div class="bezel bezel-left"></div>
        <div class="bezel bezel-right"></div>
        <div class="screen">
          <main class="main-content">
            <slot />
          </main>
          <div class="footer-container">
            <hr />
            <Footer client:load />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style>
  .outer-container {
    align-items: center;
    background: #222;
    background: linear-gradient(#222, #333);
    display: flex;
    height: 100%;
    height: 100vh;
    height: 100dvh;
    justify-content: center;
  }

  .monitor-container {
    height: 100%;
    position: relative;
    width: 100%;
  }

  @media (orientation: portrait) and (min-width: 500px) {
    .monitor-container {
      aspect-ratio: 3 / 4;
      height: inherit;
      max-height: 95vh;
      max-width: 95vw;
      width: inherit;
    }
  }

  @media (orientation: landscape) and (min-height: 600px) {
    .monitor-container {
      aspect-ratio: 4 / 3;
      height: inherit;
      max-height: 95vh;
      max-width: 95vw;
      width: inherit;
    }
  }

  .bezel {
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
  }

  .bezel-top {
    height: 20px;
    left: 0;
    top: -10px;
    width: 100%;
  }

  .bezel-bottom {
    bottom: -10px;
    height: 20px;
    left: 0;
    width: 100%;
  }

  .bezel-left {
    height: 100%;
    left: -10px;
    top: 0;
    width: 20px;
  }

  .bezel-right {
    bottom: 0px;
    height: 100%;
    right: -10px;
    width: 20px;
  }

  @media (orientation: portrait) and (max-width: 499px) {
    .bezel {
      display: none;
    }
  }

  @media (orientation: landscape) and (max-height: 599px) {
    .bezel {
      display: none;
    }
  }

  .screen {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 10px;
    width: 100%;
  }

  .main-content {
    flex-grow: 1;
    padding-bottom: 300px;
  }

  .footer-container {
    flex-grow: 0;
    flex-shrink: 0;
  }
</style>
